@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes vibrate {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0.8px, 0.8px);
  }
  50% {
    transform: translate(-0.8px, -0.8px);
  }
  75% {
    transform: translate(0.8px, -0.8px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  width: 100%;
  margin: 0;
  padding: 0;
}